* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

header{
  display: flex;
  width : 90%;
  height : 10vh;
  margin : auto;
  align-items: center;
}

.logo-container, .nav-links , .cart{
  display : flex;
}

.logo-container{
  flex : 1;
}
.logo{
  font-size: 18px;
  font-weight: 400;
  margin : 5px;
}

nav{
  flex : 2;
}
.nav-links{
  justify-content: space-around;
  list-style: none;
}
.nav-link{
  font-size: 18px;
  text-decoration: none;
  color: rgb(107, 102, 102);
}

.cart{
  flex : 1;
}
.cart-text{
  font-size: 18px;
  font-weight: 400;
  margin : 8px;
}

.presentation{
  display : flex;
  margin : auto;
  width : 90%;
  align-items: center;
}

.introduction{
  flex: 1;
}
.intro-text h1{
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right,rgb(126, 79, 79),rgb(253, 134, 134));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p{
  margin : 5px;
  font-size: 22px;
  font-weight: 200;
  color: rgb(170, 135, 135);
}

.cta{
  padding: 50px 0px 0px 0px;
}

.cta-select{
  border : 2px solid rgb(252, 146, 199);
  background: transparent;
  color : rgb(252, 146, 199);
  width : 150px;
  height : 50px; 
  cursor : pointer;
  font-family: 'Poppins', sans-serif;
  font-size : 20px;
  margin : 0px 10px 0px 0px;
}

.cta-add{
  border : none;
  background: hotpink;
  color : white;
  width : 150px;
  height : 50px; 
  cursor : pointer;
  font-family: 'Poppins', sans-serif;
  font-size : 20px;
}

.cover{
  flex: 1;
  height : 80vh;
}
.cover img{
  height : 100%;
  filter : drop-shadow(0px 3px 0px black);
  align-content: center;
}

.big-eclipse{
  position: absolute;
  top: 0px;
  right : 0px;
  z-index : -1;
  opacity: 50%;
  height : 60%;
}

.mid-eclipse{
  position: absolute;
  top: 30%;
  right : 20%;
  z-index : -1;
  opacity: 60%;
  height : 60%;
}

.small-eclipse{
  position: absolute;
  top: 70%;
  right : 40%;
  z-index : -1;
  opacity: 90%;
  height : 30%;
}

.laptop-select {
	width: 15%;
	display: flex;
	justify-content: space-around;
	position: absolute;
  right: 24%;
  bottom: 5%;
}